{% extends "base.html" %}
{% block content %}

<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Create New SOP</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Name</label>
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="example) Gel electrophoresis" class="form-control input-md">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Description</label>
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="Short description of this process" class="form-control input-md">
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Health, Safety and Risk Assessment</label>
  <div class="col-md-4">
    <textarea class="form-control" id="textarea" name="textarea">

    </textarea>
  </div>
</div>

    <div class="row grid">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse1">Preparing the Agarose Gel</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>





{#<!-- Button -->#}
{#<div class="form-group">#}
{#  <label class="col-md-4 control-label" for="singlebutton"></label>#}
{#  <div class="col-md-4">#}
{#    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Add New Work</button>#}
{#  </div>#}
{#</div>#}

</fieldset>
</form>

<script>
        $(function () {
            $(".grid").sortable({
                tolerance: 'pointer',
                revert: 'invalid',
//                placeholder: 'span2 well placeholder tile',
                forceHelperSize: true
            });
        });

</script>


{% endblock %}