{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 text-center">
            <a href="{{ url_for('edit_sops', id=1) }}">
                SOPs : All the people in the Lab can access
            </a>
        </div>
        <div class="col-sm-6 text-center">
            <a href="{{ url_for('create_sops') }}">
                Create New SOP : Lab Manager level access
            </a>
        </div>
    </div>
</div>
{% endblock %}

