{% from "macro/forms.html" import sample_form as sample, physician_form as physician, lab_form as lab, aliquot_form, subject_form as subject %}

{% extends "lab/index.html" %}
{% block lab_content %}
    <div class="container">

        <h1>Sample Receiption and Accessioning</h1>

        {% if step == "physician_form" %}
            <form id="physician" class="form-horizontal" action="{{ url_for('sample_reception') }}" method="post" autocomplete="off">
                {{ physician_form.csrf_token }}

                <legend>Physician Information</legend>
                {{ physician(physician_form) }}

                <input type=hidden name="step" value="subject_form">
                <input type="submit" class="btn btn-default" value="Next">
            </form>

        {% elif step == "subject_form" %}

            <form id="subject" class="form-horizontal" action="{{ url_for('sample_reception') }}" method="post" autocomplete="off">
                {{ subject_form.csrf_token }}
                <legend>Subject Information</legend>


                {{ subject(subject_form) }}
                <input type=hidden name="step" value="sample_form">

                <input type="submit" class="btn btn-danger" value="Back">
                <input type="submit" class="btn btn-default" value="Next">
            </form>
        {% elif step == "sample_form" %}
            <form id="sample" class="form-horizontal" action="{{ url_for('sample_reception') }}" method="post">
                {{ sample_form.csrf_token }}
                <legend>Sample Information</legend>
                {{ sample(sample_form) }}

                <input type=hidden name="step" value="finish">
                <input type="submit" name='back' class="btn btn-danger" value="Back">
                <input type="submit" class="btn btn-default" value="Next">
            </form>

        {% elif step == "finish" %}
            <form id="finish" class="form-horizontal" action="{{ url_for('sample_reception') }}" method="post">
                <legend>Confirmation</legend>

            <input type="submit" name='back' class="btn btn-danger" value="Back">
            <input type="submit" class="btn btn-default" value="Submit">

            </form>

        {% endif %}

    </div>

{% endblock %}