{% extends "base.html" %}
{% from "macro/flash_messages.html" import flash_error %}
{% from "auth/macro/forms.html" import render_field_with_error %}

{% block content %}

    <div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link">Register</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">

						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" action="{{ url_for('auth.login') }}" method="post"
									  role="form" style="display: block;">
									{{ login_form.csrf_token }}

									<div class="form-group">
										{{ render_field_with_error(login_form.email, tabindex="1", class="form-control", placeholder="Email Address") }}
									</div>

									<div class="form-group">
										{{ render_field_with_error(login_form.password, tabindex="1", class="form-control", placeholder="Password") }}
									</div>
									<div class="form-group text-center">
										<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
										<label for="remember"> Remember Me</label>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<div class="text-center">
													<a href="{{ url_for('auth.forgot') }}" tabindex="5" class="forgot-password">Forgot Password?</a>
												</div>
											</div>
										</div>
									</div>
								</form>

								<form id="register-form" action="{{ url_for('auth.login') }}" method="post" role="form" style="display: none;">
									{{ register_form.csrf_token }}
									<div class="form-group">
										{{ render_field_with_error(register_form.email, tabindex="1", class="form-control", placeholder="Email") }}
									</div>
									<div class="form-group">
										{{ render_field_with_error(register_form.password, tabindex="1", class="form-control", placeholder="Password") }}
									</div>
									<div class="form-group">
										{{ render_field_with_error(register_form.confirm, tabindex="1", class="form-control", placeholder="Confirm Password")}}
									</div>

									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
											</div>
										</div>
									</div>
								</form>



							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

    </div>
<script>
$(document).ready(function () {

        $('#login-form-link').click(function(e) {
            $("#login-form").delay(100).fadeIn(100);
            $("#register-form").fadeOut(100);
            $('#register-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });
        $('#register-form-link').click(function(e) {
            $("#register-form").delay(100).fadeIn(100);
            $("#login-form").fadeOut(100);
            $('#login-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });

        });

</script>

{% endblock %}


